body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    background:linear-gradient(to bottom,#3B8BEB, cornflowerblue,skyblue);
}
nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

.logo {
    font-size: 50px;
    color:black;
    font-weight: bolder;
    margin-left: -30px;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    background-color: crimson;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: 25%;
    font-size: 22px;
    font-weight: bold;
}

nav ul li a:hover {
    
    background-color: white;
    color: crimson;
}

h1
{
    font-size: 60px;
    position: relative;
    top: 50px;
    margin-left: 30px;
    color: crimson;
}

h2
{
    font-size: 40px;
    margin-left: 30px;
    top: 20px;
    position: relative;
}

p
{
    font-size: 20px;
    color: white;
    margin-left: 40px;
    margin-top: 40px;
}

h3
{
    font-size: 80px;
    position: relative;
    top: -70px;
    color: white;
    margin-left: 40px;
    font-family:'Courier New', Courier, monospace;
}

.image
{
    width: 550px;
    height: 500px;
    border: solid transparent;
    position: relative;
    margin-top: -600px;
    left: 780px;

}

.image img
{
    width: 550px;
    height: 500px;
    border-radius: 50px;
}